<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <description>CoreListener</description>
        <listener-class>it.wego.welfarego.cartellasociale.WebappContextListener</listener-class>
    </listener>
    <context-param>
        <param-name>enableSSL</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>pathKeystore</param-name>
        <param-value>/WEB-INF/keystore/cartellasociale.jks</param-value>
    </context-param>
    <context-param>
        <param-name>certificateAlias</param-name>
        <param-value>client</param-value>
    </context-param>
    <context-param>
        <param-name>keystorePassword</param-name>
        <param-value>cartellasociale</param-value>
    </context-param>
    <context-param>
        <param-name>pathKeystoreServer</param-name>
        <param-value>/WEB-INF/keystore/cartellasociale_server.jks</param-value>
    </context-param>
    <context-param>
        <param-name>certificateAliasServer</param-name>
        <param-value>server</param-value>
    </context-param>
    <context-param>
        <param-name>keystorePasswordServer</param-name>
        <param-value>WSCARTELLASOCIALE</param-value>
    </context-param>
    <servlet>
        <servlet-name>readUsers</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.readUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateUser</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.updateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>appuntamenti</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.appuntamenti.AppuntamentiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>anagrafica</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.anagrafica.AnagraficaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>famiglia</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.famiglia.FamigliaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>referenti</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.referenti.ReferentiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>documenti</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.pai.DocumentiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>interventi</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.pai.InterventiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>liberatorie</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.pai.LiberatorieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cronologia</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.pai.CronologiaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>impegni</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.pai.ImpegniServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pai</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.pai.PaiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registraContatto</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.cartella.RegistraContattoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ricerca</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.anagrafica.RicercaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stato</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.anagrafica.StatoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>civico</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.anagrafica.CivicoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>via</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.anagrafica.ViaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comune</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.anagrafica.ComuneServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>condizione</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.condizione.CondizioneServlet</servlet-class>
    </servlet>
      <servlet>
        <servlet-name>diario</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.diario.DiarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>provincia</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.anagrafica.ProvinciaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>popola</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.cartella.PopolaDatiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>traferimento</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.cartella.traferimento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ricercaBeneficiari</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.pai.ricercaBeneficiari</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agenda</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.agenda.AgendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>componenti</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.pai.ComponentiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>civilmenteObbligato</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.pai.CivilmenteObbligatoServlet</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>struttura</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.pai.StrutturaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartForm</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.cartella.StartFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssistentiSociali</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.anagrafica.AssistentiSociali</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipologiaIntervento</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.pai.TipologiaInterventoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreInSession</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.cartella.StoreInSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Stampa</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.cartella.StampaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Milton</servlet-name>
        <servlet-class>com.bradmcevoy.http.MiltonServlet</servlet-class>
        <init-param>
            <param-name>resource.factory.class</param-name>
            <param-value>it.wego.webdav.DavResourceFactory</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>DomandaServlet</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.pai.DomandaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnagraficaSocServlet</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.anagrafica.AnagraficaSocServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RicevutaServlet</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.pai.RicevutaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MiltonTest</servlet-name>
        <servlet-class>it.wego.webdav.DavResourceTestServet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>tariffa</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.pai.TariffaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadDocumento</servlet-name>
        <servlet-class>it.wego.welfarego.servlet.pai.DownloadDocumentoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MiltonTest</servlet-name>
        <url-pattern>/MiltonTest/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RicevutaServlet</servlet-name>
        <url-pattern>/ricevuta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnagraficaSocServlet</servlet-name>
        <url-pattern>/anagraficaSoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>readUsers</servlet-name>
        <url-pattern>/readUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateUser</servlet-name>
        <url-pattern>/updateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>appuntamenti</servlet-name>
        <url-pattern>/appuntamenti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>anagrafica</servlet-name>
        <url-pattern>/anagrafica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>famiglia</servlet-name>
        <url-pattern>/famiglia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>referenti</servlet-name>
        <url-pattern>/referenti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>documenti</servlet-name>
        <url-pattern>/documenti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>interventi</servlet-name>
        <url-pattern>/interventi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>liberatorie</servlet-name>
        <url-pattern>/liberatorie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cronologia</servlet-name>
        <url-pattern>/cronologia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>impegni</servlet-name>
        <url-pattern>/impegni</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pai</servlet-name>
        <url-pattern>/pai</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registraContatto</servlet-name>
        <url-pattern>/registraContatto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ricerca</servlet-name>
        <url-pattern>/ricerca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stato</servlet-name>
        <url-pattern>/stato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>civico</servlet-name>
        <url-pattern>/civico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>via</servlet-name>
        <url-pattern>/via</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comune</servlet-name>
        <url-pattern>/comune</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>condizione</servlet-name>
        <url-pattern>/condizione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>diario</servlet-name>
        <url-pattern>/diario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>provincia</servlet-name>
        <url-pattern>/provincia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>popola</servlet-name>
        <url-pattern>/popola</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>traferimento</servlet-name>
        <url-pattern>/traferimento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ricercaBeneficiari</servlet-name>
        <url-pattern>/ricercaBeneficiari</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agenda</servlet-name>
        <url-pattern>/agenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>componenti</servlet-name>
        <url-pattern>/componenti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>civilmenteObbligato</servlet-name>
        <url-pattern>/civilmenteObbligato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>struttura</servlet-name>
        <url-pattern>/struttura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartForm</servlet-name>
        <url-pattern>/StartForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssistentiSociali</servlet-name>
        <url-pattern>/AssistentiSociali</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipologiaIntervento</servlet-name>
        <url-pattern>/TipologiaIntervento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreInSession</servlet-name>
        <url-pattern>/StoreInSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Stampa</servlet-name>
        <url-pattern>/Stampa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Milton</servlet-name>
        <url-pattern>/Milton/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DomandaServlet</servlet-name>
        <url-pattern>/DomandaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tariffa</servlet-name>
        <url-pattern>/tariffa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadDocumento</servlet-name>
        <url-pattern>/downloadDocumento</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            720
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    
    
    <resource-ref>
		<description>Welfarego Datasource</description>
		<res-ref-name>jdbc/welfarego</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
    
</web-app>
