.classpath
.project
.settings
.properties
.tern-project
**/target/**
cartella-sociale/**/webapp/ext/
webapp/WEB-INF/reports/
*.class
*.xls
*.XLS
*.sh
*.txt
*.jasper
*.jrxml
cxf-servlet.xml
WelfaregoWsClient/
WelfaregoWebService/
welfarego-intalio-manager/
welfarego-services/
simia-ws/
MANIFEST.MF
*/keys/
extjs/
**/bin/**
**/keystore/**
/bin/
