
.determine_result .x-form-display-field {
	float: right;
	padding-right: 10px;
}
.determine_result_panel{
	padding-top: 15%;
}
.agenda_legenda_indisponibile{
	font-weight: bold;
	background-color: rgba(255, 0, 0, 0.5);
	padding: 10px;
	text-align: center;
}
.agenda_legenda_appuntamento{
	font-weight: bold;
	background-color: rgba(173,255,47,0.5);
	padding: 10px;
	text-align: center;
}
.standardBgColor{
	background-color: #e0e0e0;
}
table.wd_agenda_template{
	width:100%;
}
table.wd_agenda_template th.wd_template_giorno{
	width:13%;
}
table.wd_agenda_template th.wd_template_ore{
	width:9%;
}

table.wd_agenda_template th{
	color:#15428B;
	font-family:tahoma,arial,verdana,sans-serif;
	font-size:11px;
	font-weight:bold;
	line-height:15px;
	padding:5px 3px 4px 5px;
	border:1px solid #99BBE8;
}
table.wd_agenda_template tr{
	font-family:arial,tahoma,helvetica,sans-serif;
	font-size:11px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
}
table.wd_agenda_template td{
	color:#15428B;
	font-family:tahoma,arial,verdana,sans-serif;
	font-size:11px;
	/*        font-weight:bold;*/
	line-height:15px;
	padding:5px 3px 4px 5px;
	border:1px solid #99BBE8;
	text-align: center;
}
.agenda_indisponibile_cell{
	background-color: rgba(255, 0, 0, 0.5);
}
.agenda_appuntamento_cell{
	background-color: rgba(173,255,47,0.5);
}
.wd_agenda_cell_over{
	border:1px solid red;
	background-color:#f32;
}

.wd_div_template_ore{
	width:9%;
	clear: none;
}
.wd_div_template_giorni{
	width:9%;
	clear: none;
}

.wd_agenda_nome,.wd_agenda_note,.wd_agenda_tipo{
	opacity: 1;
}


.azzera_budget_btn_class{
    margin-top:30px;
    margin-left:60px;
}