input[type="text"], input[type="password"], input[type="file"], input[type="submit"], input[type="button"], input[type="reset"], select, textarea, .textarea, button {
	padding: 0px;
}

.list-ct > ul{
	margin:0;
}

input.x-form-radio{
	background-image:url('../ext/resources/themes/images/gray/form/radio.gif') !important;
	background-color: transparent !important;
	border-style:none !important;
	width:12px !important;
	height:13px !important;
}

.x-form-cb-checked .x-form-radio{
	background-position: 0px -13px !important;
}

.x-border-box .x-field-default-toolbar .x-form-text {
    padding:  0;
}

.x-form-invalid-field {
	border: 1px solid #C30 !important;
	background-image: url('../ext/resources/themes/images/gray/grid/invalid_line.gif') !important;
	background-position: 50% 100% !important;
	background-repeat: repeat-x !important;
}

.portlet-content {
	padding: 0 !important;
}

input[type="submit"], input[type="button"], input[type="reset"], button, .lfr-actions, .lfr-actions ul {
    text-shadow: 0px 0px #FFFFFF;
}

i, em {
    font-style: normal;
}