<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/context/applicationContext.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>ScaricaFileServlet</servlet-name>
		<servlet-class>it.wego.welfarego.pagamenti.ScaricaFileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ImportaFileServlet</servlet-name>
		<servlet-class>it.wego.welfarego.pagamenti.ImportaFileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GestioneEconomicaServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.ViewRendererServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScaricaFileServlet</servlet-name>
		<url-pattern>/ScaricaFileServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImportaFileServlet</servlet-name>
		<url-pattern>/ImportaFileServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GestioneEconomicaServlet</servlet-name>
		<url-pattern>/WEB-INF/servlet/view</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<jsp-config>
		<taglib>
			<taglib-uri>http://java.sun.com/portlet_2_0</taglib-uri>
			<taglib-location>/WEB-INF/tld/liferay-portlet.tld</taglib-location>
		</taglib>
	</jsp-config>
	<resource-ref>
		<description>Welfarego Datasource</description>
		<res-ref-name>jdbc/welfarego</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>


</web-app>
