<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<servlet>
		<servlet-name>Utenti</servlet-name>
		<servlet-class>it.wego.welfarego.parametri.servlet.UtentiServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ParametriServlet</servlet-name>
		<servlet-class>it.wego.welfarego.parametri.servlet.ParametriServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TipologieServlet</servlet-name>
		<servlet-class>it.wego.welfarego.parametri.servlet.TipologieServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TemplateServlet</servlet-name>
		<servlet-class>it.wego.welfarego.parametri.servlet.TemplateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListeServlet</servlet-name>
		<servlet-class>it.wego.welfarego.parametri.servlet.ListeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StruttureServlet</servlet-name>
		<servlet-class>it.wego.welfarego.parametri.servlet.StruttureServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BudgetServlet</servlet-name>
		<servlet-class>it.wego.welfarego.parametri.servlet.BudgetServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownloadTemplate</servlet-name>
		<servlet-class>it.wego.welfarego.parametri.servlet.DownloadTemplate</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DatiServlet</servlet-name>
		<servlet-class>it.wego.welfarego.parametri.servlet.DatiServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TemplateTestServlet</servlet-name>
		<servlet-class>it.wego.welfarego.parametri.servlet.TemplateTestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Utenti</servlet-name>
		<url-pattern>/Utenti</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ParametriServlet</servlet-name>
		<url-pattern>/ParametriServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TipologieServlet</servlet-name>
		<url-pattern>/TipologieServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TemplateServlet</servlet-name>
		<url-pattern>/TemplateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListeServlet</servlet-name>
		<url-pattern>/ListeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BudgetServlet</servlet-name>
		<url-pattern>/BudgetServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownloadTemplate</servlet-name>
		<url-pattern>/DownloadTemplate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DatiServlet</servlet-name>
		<url-pattern>/DatiServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StruttureServlet</servlet-name>
		<url-pattern>/StruttureServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TemplateTestServlet</servlet-name>
		<url-pattern>/TemplateTestServlet</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>720</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<jsp-config>
		<taglib>
			<taglib-uri>http://java.sun.com/portlet_2_0</taglib-uri>
			<taglib-location>/WEB-INF/tld/liferay-portlet.tld</taglib-location>
		</taglib>
	</jsp-config>
	<resource-ref>
		<description>Welfarego Datasource</description>
		<res-ref-name>jdbc/welfarego</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>
